<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sender</title>
</head>
<body>
    <h1>Send Message to the RabbitMQ</h1>
    <form method="POST" action="/">
        <input type="text" id="message" name="message" required><br><br>
        <input type="submit" value="Submit">
    </form>
    {% if message %}
    <h1>Last message send: {{message}}</h1>
    {% endif %}
</body>
</html>
